<!--
    David Chung
    dwjchung@bu.edu
    this is a base file that loads our restaurant stylesheet while also providing navigation links
    that the rest of the other pages can have
-->
{% load static %}
<html>
        <link rel="stylesheet" href="{% static 'styles_restaurant.css' %}">
    <body>

        <nav>
            <li><a href="{% url 'main' %}">Main</a></li>
            <li><a href="{% url 'order' %}">Order</a></li>
        </nav>
        
    {% block content %}
    {% endblock %}

    </body>
</html>