<!--
    David Chung
    dwjchung@bu.edu
    This is the base.html file, which I am using to include information that welcomes the user
    as well as contains links to other pages. It currently is only used for quote.html
-->

{% load static %}
<html>
    <h1>Welcome! This is a random quote generator.</h1>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <nav>
        <li><a href="{% url 'quote_page' %}">Quote</a></li>
        <li><a href="{% url 'about_page' %}">About</a></li>
        <li><a href="{% url 'show_all_page' %}">Show_all</a></li>
    </nav>
    {%block content%}
    {%endblock%}

</html>