<!--
    David Chung
    dwjchung@bu.edu
    This is the about.html file, which is just some basic html describing 
    Maya Angelou and me.
-->

{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <h1>Hello, this is an about page dedicated to Maya Angelou, the speaker of these quotes</h1>

    <p>Maya Angelou (1928–2014) was an iconic American poet, memoirist, and civil rights activist 
        best known for her groundbreaking 1969 memoir, I Know Why the Caged Bird Sings.</p>

    <p>This page was made by David Chung, a very middling full stack engineer at best</p>
    </html>