<!--
    David Chung
    dwjchung@bu.edu
    This is the show_all.html file, which is just an html file that uses a loop scriplet
    in order to iterate through the list context variables, to access and display all quotes and images
-->

{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <head>
        <title>Quotes Show all</title>
    </head>
    <body>
        <ul>
            {% for image in images %}
            <li><img src = "{{image}}"></li>
            {% endfor %}
        </ul>
        <ul>
            {% for quote in quotes %}
            <li>{{quote}}</li>
            {% endfor %}
        </ul>
    </body>
</html>