<!-- David Chung, dwjchung@bu.edu -->
<!-- this is our base.html file, used to provide navigation and load a css file for all pages -->

{%load static%}

<html>
    <head>
        <title>Mini Insta</title>
        <link rel = "stylesheet" href = "{%static 'styles_mini_insta.css'%}">
    </head>
    <nav>
        <h1>Mini Insta</h1>
        <ul>
            <li><a href = "{%url 'show_all_profiles' %}">Show all</a></li>
        </ul>
    </nav>
    <body>
        {%block content%}
        {%endblock%}
    </body>

    <nav>
        {%if profile%}
        <li><a href = "{%url 'create_post' profile.pk%}">Create a post</a></li>
        {%endif%}
    </nav>
</html>