<!-- David Chung, dwjchung@bu.edu -->
<!-- this is our create_post_form.html file, used to manage the form for creating new posts -->

{%extends 'mini_insta/base.html' %}

{%block content%}
<h1>Create a New Post about {{profile.display_name}}</h1>

<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>Choose images: </div>
    <input type="file" name = "files" multiple><br><br>

    
    <table>
        {{form.as_table}}
    </table>

    <!-- <div>Image URL:</div>
    <input type="text" name="image_url" size="72"><br><br> -->


    <div>
        <input type="submit" name = "submit" value = "Submit">
        <a href = "{% url 'show_profile' profile.pk %}">
        <input type="button" name = "cancel" value = "Cancel">
        </a>
    </div>

</form>


{% endblock %}