{%extends 'mini_insta/base.html' %}

{%block content%}
<h1>Create a New Post about {{profile.display_name}}</h1>

<form method = "POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>

    <div>Image URL:</div>
    <input type="text" name="image_url" size="72"><br><br>

    <div>
        <input type="submit" name = "submit" value = "Submit">
        <a href = "{% url 'show_profile' profile.pk %}">
        <input type="button" name = "cancel" value = "Cancel">
        </a>
    </div>

</form>


{% endblock %}