<!-- David Chung, dwjchung@bu.edu -->
<!-- this is our show_post.html file, used to display a post as well as its caption -->

{%extends 'mini_insta/base.html' %}

{%block content%}

<main class = "grid-container">
    <table>
        <h1>{{post.profile}}'s Post</h1>
        {% for photo in post.get_all_photos %}
            <li><img src="{{ photo.get_image_url }}" height = "300" width="300"></li>
            
        {% endfor %}
        <div>
            <p>{{post.caption}}
                at {{post.timestamp}}</p>
        </div>
    </table>
    <hr>
</main>

{% endblock %}